/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
$primary-color: #f4a074;
$black-color: #222222;
$header-height: 3.5rem;

/*========== Colors ==========*/
$hue: 14;
$first-color: hsl(var(--hue), 91%, 54%);
$first-color-alt: hsl(var(--hue), 91%, 50%);
$title-color: hsl(var(--hue), 4%, 100%);
$text-color: hsl(var(--hue), 4%, 85%);
$text-color-light: hsl(var(--hue), 4%, 55%);
$body-color: linear-gradient(
  90deg,
  hsl(104, 28%, 40%) 0%,
  hsl(58, 28%, 40%) 100%
);
$container-color: linear-gradient(
  136deg,
  hsl(104, 28%, 35%) 0%,
  hsl(58, 28%, 35%) 100%
);

/*========== Font and typography ==========*/
$body-font: "Poppins", sans-serif;
$biggest-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

$medium-icon-font-size: 2.5rem;
$smaill-icon-font-size: 1.25rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
$font-black: 900;

/*========== Margenes Bottom ==========*/
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/* Responsive typography */

@media screen and (min-width: 992px) {
  :root {
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  color: #1b222c;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: $body-font;
  font-size: $normal-font-size;
}

.close-element {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*=============== REUSABLE CSS CLASSES ===============*/
@mixin flex-item-center-row {
  @include flex-item-center();
  flex-direction: row;
}

@mixin flex-item-center-column {
  @include flex-item-center();
  flex-direction: column;
}

@mixin flex-item-center {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

@mixin base-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@mixin hover-rotate-button {
  transform: rotate(0);
  transition: transform 0.5s ease;

  &:hover {
    transform: rotate(180deg);
  }
}

@mixin show-hide-transition {
  &.show {
    opacity: 1 !important;
    visibility: visible !important;
  }
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/*=============== ANIMATION ===============*/
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  .preload {
    @include flex-item-center-column();
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 100000000000000;
    background-color: #fff;
    transition: all 1s ease;

    &.close {
      height: 15rem;
      transform: translateY(-100%);

      img {
        animation: unset;
      }
    }

    img {
      width: 15rem;
      animation: rotate 10s linear infinite;
    }
  }

  .navigation {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    .announcement {
      @include flex-item-center-column();
      padding-right: 20px;
      padding-left: 20px;
      background-color: $primary-color;

      &-container {
        @include base-container();
        position: relative;
        padding: 10px 35px;

        .close-button-regular {
          @include flex-item-center-column();
          position: absolute;
          left: auto;
          top: 0%;
          right: 0%;
          bottom: 0%;
          z-index: 0;
          width: 35px;
          font-size: $medium-icon-font-size;
          color: white;
          @include hover-rotate-button();
        }
        .announcement-box {
          text-align: center;

          &-content {
            font-weight: bold;
            color: white;
          }
        }
      }
    }

    .navbar {
      background-color: white;
      &-content-wrapper {
        @include base-container();
        position: relative;
        display: flex;
        padding-right: 10px;
        padding-left: 20px;
        height: 80px;

        .brand {
          @include flex-item-center-row();
          margin-right: 10px;
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.1);
          }

          img {
            max-height: 80%;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
          }
        }

        .nav-menu {
          @include flex-item-center-row();
          justify-content: space-between;
          width: 100%;
          color: $black-color;

          & * {
            font-size: 17px;
            line-height: 27px;
            font-weight: 600;
          }

          & .nav-link {
            position: relative;
            height: 80px;
            padding-top: 20px;
            padding-right: 6px;
            padding-left: 6px;
            -webkit-transition: color 200ms ease;
            transition: color 200ms ease;
            opacity: 0.8;
            cursor: pointer;

            &:not(.category-toogle) {
              &::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 30px;
                height: 1px;
                width: 0%;
                background-color: $primary-color;
                transition: all 0.2s ease;
                padding: 0;
                transform: translateX(0);
              }

              &:hover {
                color: $primary-color;

                &::before {
                  width: 95%;
                  transform: translateX(-50%);
                }
              }
            }
          }

          .left-nav-menu {
            @include flex-item-center-row();

            .category-dropdown {
              &.show .intro-categories > div:first-child {
                transform: translateY(0%) !important;

                & .intro-category-item {
                  .circular-link-block,
                  .expand-flex {
                    opacity: 1 !important;
                  }
                }
              }

              &.show .category-toogle,
              & .category-toogle:hover {
                transform: translateY(-3px);
                & div {
                  transition: outline-color 0.3s ease;
                  outline-color: $primary-color;
                  outline-width: 1px;
                }
              }

              .category-toogle {
                padding-right: 16px;
                padding-left: 16px;
                color: $primary-color;
                transition: transform 0.3s ease;

                div {
                  outline-width: 0px;
                  outline-style: dashed;
                  outline-color: transparent;
                  outline-offset: 15px;
                }
              }
              &-list {
                position: absolute;
                left: 0;
                top: 0;
                margin-top: 80px;
                max-width: 1280px;
                min-width: 100%;

                .category-dropdown-container {
                  .expand-align-center {
                    overflow: hidden;
                    .intro-categories {
                      & > div:first-child {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-auto-rows: 1fr;
                        background-color: transparent;
                        grid-gap: 7px;
                        transition: all 0.3s ease;
                        transform: translateY(-100%);

                        .intro-category-item {
                          display: flex;
                          padding: 5px 13px 5px 15px;
                          align-items: center;
                          background-color: antiquewhite;
                          min-height: 90px;

                          .circular-link-block {
                            position: relative;
                            overflow: hidden;
                            margin-right: 15px;
                            width: 65px;
                            height: 65px;
                            border-radius: 50%;
                            opacity: 0;
                            transition: opacity 0.5s 0.2s ease;

                            img {
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                            }
                          }

                          .expand-flex {
                            display: flex;
                            align-items: flex-start;
                            height: 100%;
                            flex: 1;
                            opacity: 0;
                            transition: opacity 0.5s 0.2s ease;
                            & > div:first-child {
                              .flex {
                                display: flex;
                                justify-content: flex-start;
                                flex-wrap: wrap;
                                align-items: center;

                                .category-medium-link {
                                  transition: color 200ms ease;
                                  color: #1b222c;
                                  font-size: 19px;
                                  font-weight: 400;

                                  &:hover {
                                    color: #f19361;
                                  }
                                }

                                .external-link {
                                  color: #f19361;
                                  position: relative;
                                  margin-left: 5px;

                                  i {
                                    font-size: $smaill-icon-font-size;
                                    font-weight: 100;
                                  }
                                }
                              }

                              .intro-category-subtitle {
                                ul {
                                  li {
                                    display: inline;
                                    a {
                                      font-size: $smaill-icon-font-size;
                                      color: chocolate;
                                      font-weight: 600;
                                      margin-right: 1.5rem;
                                      transition: color 200ms ease;

                                      &:hover {
                                        color: $black-color;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .right-nav-menu {
            @include flex-item-center-row();
          }
        }

        .nav-container {
          margin-left: 6px;
          i {
            color: $black-color;
            width: 45px;
            height: 80px;
            padding-top: 22px;
            transition: color 0.3s ease;
          }

          & .menu-icon {
            text-align: center;
            opacity: 0.8;
            font-size: $medium-icon-font-size;

            &:hover i {
              color: $primary-color;
            }
          }

          .nav-flex {
            display: flex;
          }
        }
      }
    }

    .newsletter-container {
      @include show-hide-transition();
      @include flex-item-center-row();
      display: flex;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9007199254740991;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.7))
      );
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      );

      .close-element {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      .newsletter-box {
        display: flex;
        width: 85%;
        position: relative;
        z-index: 10;
        max-width: 740px;
        flex-wrap: wrap;
        align-items: stretch;
        background-color: #fff;

        .newletter-column {
          width: 50%;

          &.left {
            background-image: url("assets/images/gallery1.png");
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
          }

          &.right {
            @include flex-item-center-column();
            height: 100%;
            padding: 40px;
            background-color: #e4edee;
            align-items: flex-start;
            .center-content {
              width: 100%;
              text-align: center;

              .title-big {
                color: $primary-color;
                line-height: 20px;
              }

              h4 {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 24px;
                line-height: 30px;
                font-weight: 400;
              }

              div:last-child {
                font-weight: 500;
              }
            }

            .form-newsletter {
              margin: 20px 0 15px;
              width: 100%;

              form {
                .cta-field {
                  width: 48%;
                  height: 45px;
                  margin-bottom: 8px;
                  border-style: solid;
                  border-width: 1px;
                  border-color: #e4edee;
                  border-radius: 0px;
                  -webkit-transition: border-color 200ms ease;
                  transition: border-color 200ms ease;
                  padding: 8px 12px;
                  background-color: #ffffff;
                }
                .flex {
                  @include flex-item-center-row();
                  justify-content: space-between;
                }
                .full {
                  width: 100%;
                }

                .submit-button {
                  width: 100%;
                  height: 43px;
                  background-color: #9bc3ca;
                  font-size: 11.5px;
                  font-weight: 600;
                  text-transform: uppercase;
                  color: white;
                }
              }

              .success-message {
                background-color: transparent;
                color: #000;
                font-size: 13px;
                line-height: 18px;
                display: none;
                padding: 20px;
                text-align: center;

                img {
                  max-width: 100%;
                  vertical-align: middle;
                  display: inline-block;
                  width: 35px;
                }

                & > div {
                  margin-top: 10px;
                }
              }
              .error-message {
                display: none;
                width: 100%;
                font-size: 13px;
                line-height: 18px;
                text-align: left;
                margin-top: 10px;
                padding: 10px;
                background-color: #ffdede;
              }
            }
            .close-contact-form {
              @include flex-item-center();
              position: absolute;
              top: 0px;
              right: 0px;
              border-bottom-left-radius: 5px;
              background-color: #9bc3ca;
              i {
                font-size: 3.5rem;
                color: white;
                @include hover-rotate-button();
              }
            }
          }
        }
      }
    }

    .search-bg {
      @include show-hide-transition();
      display: flex;
      position: fixed;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 1000000;
      overflow: auto;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.9);
      flex-direction: column;
      justify-content: flex-start;
      .search-box {
        position: relative;
        z-index: 9;
        display: flex;
        width: 43%;
        max-width: 460px;
        padding-top: 70px;
        flex-direction: column;

        .center-text {
          text-align: center;
          .search-text {
            position: relative;
            z-index: 1;
            margin-top: 5px;
            margin-bottom: 0px;
            color: #1b222c;
            font-size: 36px;
            line-height: 40px;
          }
        }
        .search-controls {
          @include flex-item-center-row();
          margin-top: 20px;

          .search-input {
            display: block;
            width: 73%;
            height: 55px;
            margin-bottom: 0px;
            padding-left: 15px;
            border-radius: 2px 0px 0px 2px;
            background-color: #fff;
            transition: border-color 200ms ease;
            color: #7f8893;
            font-size: 13px;
            font-style: italic;
            padding: 8px 12px;
            border: 1px solid #cccccc;
          }
          .search-button {
            height: 55px;
            padding-top: 13px;
            flex: 1;
            border-radius: 0px 2px 2px 0px;
            background-color: $primary-color;
            transition: opacity 200ms ease;
            color: #fff;
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            padding: 9px 15px;
            border: none;
          }
        }
      }
      .close-search {
        @include flex-item-center();
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 10;
        i {
          font-size: 5rem;
          @include hover-rotate-button();
        }
      }
    }
  }
}
