/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== Margenes Bottom ==========*/
/*========== z index ==========*/
/* Responsive typography */
/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  color: #1b222c;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4 {
  color: hsl(var(--hue), 4%, 100%);
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: unset;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

.close-element {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*=============== REUSABLE CSS CLASSES ===============*/
/*=============== ANIMATION ===============*/
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.content .preload {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 100000000000000;
  background-color: #fff;
  transition: all 1s ease;
}
.content .preload.close {
  height: 15rem;
  transform: translateY(-100%);
}
.content .preload.close img {
  animation: unset;
}
.content .preload img {
  width: 15rem;
  animation: rotate 10s linear infinite;
}
.content .navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 50;
}
.content .navigation .announcement {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f4a074;
}
.content .navigation .announcement-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 10px 35px;
}
.content .navigation .announcement-container .close-button-regular {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 35px;
  font-size: 2.5rem;
  color: white;
  transform: rotate(0);
  transition: transform 0.5s ease;
}
.content .navigation .announcement-container .close-button-regular:hover {
  transform: rotate(180deg);
}
.content .navigation .announcement-container .announcement-box {
  text-align: center;
}
.content .navigation .announcement-container .announcement-box-content {
  font-weight: bold;
  color: white;
}
.content .navigation .navbar {
  background-color: white;
}
.content .navigation .navbar-content-wrapper {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  padding-right: 10px;
  padding-left: 20px;
  height: 80px;
}
.content .navigation .navbar-content-wrapper .brand {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  margin-right: 10px;
  transition: transform 0.3s;
}
.content .navigation .navbar-content-wrapper .brand:hover {
  transform: scale(1.1);
}
.content .navigation .navbar-content-wrapper .brand img {
  max-height: 80%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.content .navigation .navbar-content-wrapper .nav-menu {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #222222;
}
.content .navigation .navbar-content-wrapper .nav-menu * {
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
}
.content .navigation .navbar-content-wrapper .nav-menu .nav-link {
  position: relative;
  height: 80px;
  padding-top: 20px;
  padding-right: 6px;
  padding-left: 6px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  opacity: 0.8;
  cursor: pointer;
}
.content .navigation .navbar-content-wrapper .nav-menu .nav-link:not(.category-toogle)::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 1px;
  width: 0%;
  background-color: #f4a074;
  transition: all 0.2s ease;
  padding: 0;
  transform: translateX(0);
}
.content .navigation .navbar-content-wrapper .nav-menu .nav-link:not(.category-toogle):hover {
  color: #f4a074;
}
.content .navigation .navbar-content-wrapper .nav-menu .nav-link:not(.category-toogle):hover::before {
  width: 95%;
  transform: translateX(-50%);
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown.show .category-dropdown-list {
  visibility: visible;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown.show .intro-categories > div:first-child {
  transform: translateY(0%) !important;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown.show .intro-categories > div:first-child .intro-category-item .circular-link-block,
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown.show .intro-categories > div:first-child .intro-category-item .expand-flex {
  opacity: 1 !important;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown.show .category-toogle, .content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown .category-toogle:hover {
  transform: translateY(-3px);
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown.show .category-toogle div, .content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown .category-toogle:hover div {
  transition: outline-color 0.3s ease;
  outline-color: #f4a074;
  outline-width: 1px;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown .category-toogle {
  padding-right: 16px;
  padding-left: 16px;
  color: #f4a074;
  transition: transform 0.3s ease;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown .category-toogle div {
  outline-width: 0px;
  outline-style: dashed;
  outline-color: transparent;
  outline-offset: 15px;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 80px;
  max-width: 1280px;
  min-width: 100%;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center {
  overflow: hidden;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: transparent;
  grid-gap: 7px;
  transition: all 0.3s ease;
  transform: translateY(-100%);
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item {
  display: flex;
  padding: 5px 13px 5px 15px;
  align-items: center;
  background-color: antiquewhite;
  min-height: 90px;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .circular-link-block {
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s 0.2s ease;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .circular-link-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex {
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex: 1;
  opacity: 0;
  transition: opacity 0.5s 0.2s ease;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .flex .category-medium-link {
  transition: color 200ms ease;
  color: #1b222c;
  font-size: 19px;
  font-weight: 400;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .flex .category-medium-link:hover {
  color: #f19361;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .flex .external-link {
  color: #f19361;
  position: relative;
  margin-left: 5px;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .flex .external-link i {
  font-size: 1.25rem;
  font-weight: 100;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .intro-category-subtitle ul li {
  display: inline;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .intro-category-subtitle ul li a {
  font-size: 1.25rem;
  color: chocolate;
  font-weight: 600;
  margin-right: 1.5rem;
  transition: color 200ms ease;
}
.content .navigation .navbar-content-wrapper .nav-menu .left-nav-menu .category-dropdown-list .category-dropdown-container .expand-align-center .intro-categories > div:first-child .intro-category-item .expand-flex > div:first-child .intro-category-subtitle ul li a:hover {
  color: #222222;
}
.content .navigation .navbar-content-wrapper .nav-menu .right-nav-menu {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
}
.content .navigation .navbar-content-wrapper .nav-container {
  margin-left: 6px;
}
.content .navigation .navbar-content-wrapper .nav-container i {
  color: #222222;
  width: 45px;
  height: 80px;
  padding-top: 22px;
  transition: color 0.3s ease;
}
.content .navigation .navbar-content-wrapper .nav-container .menu-icon {
  text-align: center;
  opacity: 0.8;
  font-size: 2.5rem;
}
.content .navigation .navbar-content-wrapper .nav-container .menu-icon:hover i {
  color: #f4a074;
}
.content .navigation .navbar-content-wrapper .nav-container .nav-flex {
  display: flex;
}
.content .navigation .newsletter-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9007199254740991;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.content .navigation .newsletter-container.show {
  opacity: 1 !important;
  visibility: visible !important;
}
.content .navigation .newsletter-container .close-element {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.content .navigation .newsletter-container .newsletter-box {
  display: flex;
  width: 85%;
  position: relative;
  z-index: 10;
  max-width: 740px;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #fff;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column {
  width: 50%;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.left {
  background-image: url("assets/images/gallery1.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  background-color: #e4edee;
  align-items: flex-start;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .center-content {
  width: 100%;
  text-align: center;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .center-content .title-big {
  color: #f4a074;
  line-height: 20px;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .center-content h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .center-content div:last-child {
  font-weight: 500;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter {
  margin: 20px 0 15px;
  width: 100%;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter form .cta-field {
  width: 48%;
  height: 45px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4edee;
  border-radius: 0px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  padding: 8px 12px;
  background-color: #ffffff;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter form .flex {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter form .full {
  width: 100%;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter form .submit-button {
  width: 100%;
  height: 43px;
  background-color: #9bc3ca;
  font-size: 11.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter .success-message {
  background-color: transparent;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  display: none;
  padding: 20px;
  text-align: center;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter .success-message img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 35px;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter .success-message > div {
  margin-top: 10px;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .form-newsletter .error-message {
  display: none;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .close-contact-form {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 5px;
  background-color: #9bc3ca;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .close-contact-form i {
  font-size: 3.5rem;
  color: white;
  transform: rotate(0);
  transition: transform 0.5s ease;
}
.content .navigation .newsletter-container .newsletter-box .newletter-column.right .close-contact-form i:hover {
  transform: rotate(180deg);
}
.content .navigation .search-bg {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000000;
  overflow: auto;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  justify-content: flex-start;
}
.content .navigation .search-bg.show {
  opacity: 1 !important;
  visibility: visible !important;
}
.content .navigation .search-bg .search-box {
  position: relative;
  z-index: 9;
  display: flex;
  width: 43%;
  max-width: 460px;
  padding-top: 70px;
  flex-direction: column;
}
.content .navigation .search-bg .search-box .center-text {
  text-align: center;
}
.content .navigation .search-bg .search-box .center-text .search-text {
  position: relative;
  z-index: 1;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #1b222c;
  font-size: 36px;
  line-height: 40px;
}
.content .navigation .search-bg .search-box .search-controls {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  margin-top: 20px;
}
.content .navigation .search-bg .search-box .search-controls .search-input {
  display: block;
  width: 73%;
  height: 55px;
  margin-bottom: 0px;
  padding-left: 15px;
  border-radius: 2px 0px 0px 2px;
  background-color: #fff;
  transition: border-color 200ms ease;
  color: #7f8893;
  font-size: 13px;
  font-style: italic;
  padding: 8px 12px;
  border: 1px solid #cccccc;
}
.content .navigation .search-bg .search-box .search-controls .search-button {
  height: 55px;
  padding-top: 13px;
  flex: 1;
  border-radius: 0px 2px 2px 0px;
  background-color: #f4a074;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 15px;
  border: none;
}
.content .navigation .search-bg .close-search {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}
.content .navigation .search-bg .close-search i {
  font-size: 5rem;
  transform: rotate(0);
  transition: transform 0.5s ease;
}
.content .navigation .search-bg .close-search i:hover {
  transform: rotate(180deg);
}
.content .news-slider {
  background-color: #e4edee;
}
.content .news-slider .slider-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b222c;
  position: relative;
  overflow: hidden;
  margin-top: 120px;
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item {
  position: relative;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item.swiper-slide-active::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 4px;
  background-color: #f4a074;
  animation: progress 10s ease;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item.swiper-slide-active .text-box {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg {
  max-height: 590px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .image-bg img {
  width: 100%;
  min-height: 590px;
  object-fit: cover;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  opacity: 0;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  margin-right: auto;
  padding: 160px 35px 60px 4%;
  transform: translateY(10px);
  transition: all 1s 0.3s ease;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper * {
  color: #fff;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .author-box div {
  display: inline-block;
  margin-right: 3px;
  font-size: 13px;
  line-height: 18px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .author-box a {
  transition: color 200ms ease;
  display: inline;
  margin-right: 3px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .title-post {
  margin-top: 15px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .title-post a {
  position: relative;
  transition: color 200ms ease;
  font-size: 40px;
  line-height: 48px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .date-post {
  margin-top: 15px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .date-post .flex {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .date-post .flex i {
  font-size: 1.2rem;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .date-post .flex .date {
  position: relative;
  top: -1px;
  display: inline-block;
  margin-right: 3px;
  margin-left: 1px;
  font-size: 13px;
  line-height: 18px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .description-post {
  margin-top: 20px;
  max-width: 285px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .description-post p {
  margin-bottom: 10px;
  letter-spacing: -0.35px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .readmore-button {
  margin-top: 20px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .readmore-button a {
  display: inline-block;
  min-height: 42px;
  min-width: 120px;
  padding: 15px 30px 10px;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  transition: color 200ms ease, background-color 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.8px;
}
.content .news-slider .slider-container .main-slider-container .main-slider-wrapper .slider-item .content-wrapper .bg .text-box .text-wrapper .readmore-button a:hover {
  color: #1b222c;
  background-color: #fff;
}
.content .news-slider .slider-container .mini-slider-box {
  position: absolute;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  overflow: hidden;
  width: 520px;
  margin-bottom: 10px;
  padding: 20px;
  padding: 20px;
  padding-left: 40px;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container {
  display: block;
  width: 720px;
  transform: translateX(-265px);
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper {
  display: flex;
  position: static;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item {
  width: 215px;
  border-radius: 5px;
  overflow: hidden;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .top-slide {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 5px 5px 0px 0px;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .top-slide img {
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .bottom-slide {
  flex-direction: column;
  border-radius: 0px;
  display: flex;
  background-color: #15304b;
  color: #f4a074;
  padding: 12px 14px 14px;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .bottom-slide .category-link {
  font-size: 13.5px;
  line-height: 17px;
  color: #f4a074;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .bottom-slide div {
  margin-top: 5px;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .bottom-slide div .post-preview {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  transition: color 200ms ease;
}
.content .news-slider .slider-container .mini-slider-box .mini-slider-container .mini-slider-wrapper .slide-mini-item .flex .bottom-slide div .read-more {
  transition: opacity 200ms ease;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #f4a074;
}

/*# sourceMappingURL=style.css.map */
